<!-- MAP SERVER: Makes a map available in ROS -->

<launch>
  <arg name="map_file" default="$(find srf_laser_odometry)/launch/simul_data/UMA_236.yaml" />
  <arg name="launch_prefix" default="" />

  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" launch-prefix="$(arg launch_prefix)" />
</launch>
