<!-- FAKE LOCALIZATION: Substitutes AMCL for simulating environments-->
<launch>
    <node pkg="fake_localization" type="fake_localization" name="fake_localization" output="screen">	    
	    <param name="odom_frame_id" value="odom"/>
	    <param name="global_frame_id" value="/map"/>
	    <param name="base_frame_id" value="base_link"/>
    </node>
</launch>
