<!-- mission file for SRF under simulation -->

<launch>    

    ### ROBOT SIMULATION ###
    <param name="use_sim_time" value="true" />
    <include file="$(find srf_laser_odometry)/launch/simul_data/simbot_stage.launch" >
        <arg name="world_file" value="-d $(find srf_laser_odometry)/launch/simul_data/MAPIRlab_furniture.world" />
        <arg name="disable_odometry" value="false" />
    </include>
    
           
    ### URDF model "robot" ###
    <include file="$(find srf_laser_odometry)/launch/simul_data/simbot_urdf.launch" />
    
    
    ### NAVIGATION ###
    <include file="$(find srf_laser_odometry)/launch/simul_data/simbot_map_server.launch">
        <arg name="map_file" value="$(find srf_laser_odometry)/launch/simul_data/MAPIRlab_furniture.yaml" />
    </include>
    <include file="$(find srf_laser_odometry)/launch/simul_data/simbot_move_base.launch" />
    <include file="$(find srf_laser_odometry)/launch/simul_data/simbot_fake_loc.launch" />
    
    
    ### ODOMETRY ###
    <include file="$(find srf_laser_odometry)/launch/srf_laser_odometry.launch" />

    # Comparison with RF2O (optional)
    <!--<include file="$(find rf2o_laser_odometry)/launch/rf2o_laser_odometry.launch" />-->

    ### RVIZ ###
    <node name="rviz_player" pkg="rviz" type="rviz" args="-d $(find srf_laser_odometry)/launch/simul_data/simbot_srf.rviz"/>
          
</launch>
